[core]
	autocrlf = false
	safecrlf = false
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes_global
  editor = vim
[color]
	ui = true
[diff]
	external = ~/git_diff_wrapper
	guitool = kdiff3
[pager]
	diff = 
[pull]
	rebase = true
[alias]
	co = checkout
	cob = checkout -b
	cot = checkout --track
	com = checkout master
	cop = checkout @{-1}

	f = fetch
	pushom = push origin master

	b = branch -v
	ba = branch -va

	aa = add .
	rmall = !git rm `git ls-files --deleted`

	cmt = commit -m
	cmte = commit -m --alow-empty
	amend = commit --amend -C HEAD
	amendm = commit --amend -m

	mnoff = merge --no-ff
	mnoffm = merge --no-ff -m
  mff = merge --ff-only FETCH_HEAD
  mnoc = merge --no-commit

	cp = cherry-pick
	cprn = cherry-pick -rn # without commit

  rebasem = rebase master
  rebasei = rebase -i
  rebasec = rebase --continue
  rebasea = rebase --abort

	bl = blame
	s = !git status -sb && git skipped

	lg = log --oneline --decorate --all --graph -40
	l = log --pretty=format:\"%C(yellow)%h %Cblue%an %Creset %ad : %s\" --date=iso -40
	la = log --pretty=format:\"%C(yellow)%h %Cblue%an %Creset %ad : %s\" --date=iso
	lnm = log --pretty=format:\"%C(yellow)%h %Cblue%an %Creset %ad : %s\" --date=iso --no-merges -40
	lfp = log --pretty=format:\"%C(yellow)%h %Cblue%an %Creset %ad : %s\" --date=iso --first-parent -40
	lp = log --pretty=format:\"%C(yellow)%h %Cblue%an %Creset %ad : %s\" --date=iso -p -40
	lm = log --pretty=format:\"%C(yellow)%h %Cblue%an %Creset %ad : %s\" --date=iso master..
	lom = log --pretty=format:\"%C(yellow)%h %Cblue%an %Creset %ad : %s\" --date=iso origin/master..

  ls = ls-files

	cfgl = config --local -l
	cfgg = config --global -l

	d = diff --no-ext-diff --diff-filter=M
	dw = diff --no-ext-diff --diff-filter=M --color-words
	dn = diff --no-ext-diff --name-only
	ds = diff --no-ext-diff --stat
	dm = diff --no-ext-diff master
	dsm = diff --no-ext-diff --stat master
	dom = diff --no-ext-diff origin/master
	dsom = diff --no-ext-diff --stat origin/master
	dc = diff --no-ext-diff --cached --diff-filter=M
	dnc = diff --no-ext-diff --name-only --cached
	vd = diff --ext-diff --diff-filter=M
	vdc = diff --ext-diff --cached --diff-filter=M

	shown = show --name-only
	shows = show --stat

	gr = grep -n -I --break --heading

	clnn = !git clean -n | grep '^\\would remove'
	clnf = !git clean -f | grep '^Removing'

	skip = update-index --skip-worktree
	unskip = update-index --no-skip-worktree
	skipped = !git ls-files -v | grep ^S
[include]
	path = ~/.gitconfig.local
[browse-remote "github.com"]
	top = https://{host}/{path}
	ref = https://{host}/{path}/tree/{short_ref}
	rev = https://{host}/{path}/commit/{commit}
	file = "https://{host}/{path}/blob/{short_rev}/{file}{line && \"#L%d\" % line}"
[push]
  default = upstream #allow to  push without args on the tracking branch
